<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ec.florian.alfred.fillerama</string>
	<key>connections</key>
	<dict>
		<key>01283FCA-41DB-40ED-AD67-697392A548BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7404ABA3-C88B-49CA-A281-1CF4BD953478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>10F2778F-4967-4AFF-A4AA-848F33B030E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F3701EB-CD5A-41E7-9246-257EBF812EBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>26C8B155-362F-446F-A14C-32F5F030556A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C35F078-746C-4507-8049-547D228F31BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>33DC9E44-4145-4D6A-975C-6F65E3D8F505</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F996A1B-A705-41DE-A304-75EB3309F3D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3C9C5ECA-108F-4040-B8A9-19AC6034C966</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7448122C-08FD-4BE6-841B-CEE63BF33F20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>433B8A7C-8FF3-4541-95A0-088DD1C30912</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E22E1E71-BBD6-44AB-877E-7594B7C5E889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>482588C2-AA56-49DB-AB80-5DC8D7E6446B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E497156C-43B8-49F9-B31A-9F6DBB3F0182</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4C25B1C0-AAFB-4B74-8E87-69B4BD565FE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>905E1C00-FAD1-4ECD-B4F6-E218D1800FAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F3701EB-CD5A-41E7-9246-257EBF812EBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFD4AD7E-3A62-4BCA-A2F3-B3B49897B715</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5EDB7929-8481-4CC8-A2BB-ECBE4FD58C73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>482588C2-AA56-49DB-AB80-5DC8D7E6446B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>62DE03B5-10BC-43CC-AFA1-7B84B89FEBB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33DC9E44-4145-4D6A-975C-6F65E3D8F505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6AA4D739-56CC-49A2-8989-E16E833B7AB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEABFDC0-0522-4E1D-BF89-E5749A8C43D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>718BCB2E-E3E7-4492-A0C6-18A5C8D3530C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>433B8A7C-8FF3-4541-95A0-088DD1C30912</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7389E26B-B188-4D64-BFBA-8F2A81D2FA1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DAC514D-CDF0-4527-AB6F-141EE6913D8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7404ABA3-C88B-49CA-A281-1CF4BD953478</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>687C86A6-8006-424C-8181-0A7E0301138B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7448122C-08FD-4BE6-841B-CEE63BF33F20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E3C9896-E108-4AC6-BDF8-247E209F086C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DA77BB6-CDF1-4418-A535-394E4B261A20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52946D7D-4F68-4C80-95A4-37D9802DD2C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>83170C44-1DEF-47B7-9499-1B528B481DEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC0B1AAF-333C-4451-B9FB-1CE64CF241EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8B2AAE4B-EA8A-4FF1-B4C0-5E1AA2B89D08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B9A9147-9893-4C35-A02D-C88A4648CD91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8DAC514D-CDF0-4527-AB6F-141EE6913D8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E898736-68E4-4387-8E72-F1774AB880F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>907DE946-56F1-4D18-B101-094D50B9526C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>257633B9-01C0-4DFF-93CD-C2A3FD06F3BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>993E2EA0-BD85-4D55-96F5-8D201E604FF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12A24009-35C9-4BB1-9254-44975F452504</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A522F4F9-02CC-4B89-B782-F1015E3DF043</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>993E2EA0-BD85-4D55-96F5-8D201E604FF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A842825D-F6CC-45EA-97E6-70D1476165B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>381499F1-4E2F-45E8-A24C-0DBE21958287</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CC0B1AAF-333C-4451-B9FB-1CE64CF241EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94B14F59-0059-4A70-BFA8-BB4819E87DE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4D8EB01-E3C3-4173-AF2D-52F7E40EF05E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26C8B155-362F-446F-A14C-32F5F030556A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6AC6B0F-491B-4C93-BD73-A7836B0DD72A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C25B1C0-AAFB-4B74-8E87-69B4BD565FE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D740F055-A2F1-4D6B-A3ED-3A9401E73962</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DA77BB6-CDF1-4418-A535-394E4B261A20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBDA20BE-EB1F-4397-9988-CF16051C0B73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A842825D-F6CC-45EA-97E6-70D1476165B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EFBF684E-3158-4B28-B623-50BF74776B48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>907DE946-56F1-4D18-B101-094D50B9526C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F8EA4E57-9EDD-4F12-9271-1A349C2E5292</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B2AAE4B-EA8A-4FF1-B4C0-5E1AA2B89D08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FEABFDC0-0522-4E1D-BF89-E5749A8C43D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53729D1E-CBFA-4C89-9C3B-DBDC33948E63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Florian Eckerstorfer</string>
	<key>description</key>
	<string>A filler text generator with quotes from Futurama, Star Wars, Dexter, Monty Python, Doctor Who, and more!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fillerama</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php db futurama {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B2AAE4B-EA8A-4FF1-B4C0-5E1AA2B89D08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0B9A9147-9893-4C35-A02D-C88A4648CD91</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filler</string>
				<key>subtext</key>
				<string>Generates a Futurama Filler Text</string>
				<key>text</key>
				<string>Filler Text (Futurama)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8EA4E57-9EDD-4F12-9271-1A349C2E5292</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php headers futurama {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>433B8A7C-8FF3-4541-95A0-088DD1C30912</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fillerh</string>
				<key>subtext</key>
				<string>Generate Futurama filler text for headers</string>
				<key>text</key>
				<string>Header Filler Text (Futurama)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>718BCB2E-E3E7-4492-A0C6-18A5C8D3530C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E22E1E71-BBD6-44AB-877E-7594B7C5E889</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>905E1C00-FAD1-4ECD-B4F6-E218D1800FAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filler</string>
				<key>subtext</key>
				<string>Generates Star Wars Filler Text</string>
				<key>text</key>
				<string>Filler Text (Star Wars)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6AC6B0F-491B-4C93-BD73-A7836B0DD72A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php db starwars {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C25B1C0-AAFB-4B74-8E87-69B4BD565FE1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>257633B9-01C0-4DFF-93CD-C2A3FD06F3BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fillerh</string>
				<key>subtext</key>
				<string>Generate Star Wars filler text for headers</string>
				<key>text</key>
				<string>Header Filler Text (Star Wars)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EFBF684E-3158-4B28-B623-50BF74776B48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php headers starwars {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>907DE946-56F1-4D18-B101-094D50B9526C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1F996A1B-A705-41DE-A304-75EB3309F3D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filler</string>
				<key>subtext</key>
				<string>Generates Star Wars Filler Text</string>
				<key>text</key>
				<string>Filler Text (Simpsons)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62DE03B5-10BC-43CC-AFA1-7B84B89FEBB6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php db simpsons {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33DC9E44-4145-4D6A-975C-6F65E3D8F505</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fillerh</string>
				<key>subtext</key>
				<string>Generate Star Wars filler text for headers</string>
				<key>text</key>
				<string>Header Filler Text (Simpsons)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7389E26B-B188-4D64-BFBA-8F2A81D2FA1A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php headers simpsons {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DAC514D-CDF0-4527-AB6F-141EE6913D8A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1E898736-68E4-4387-8E72-F1774AB880F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php db arresteddevelopment {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC0B1AAF-333C-4451-B9FB-1CE64CF241EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>94B14F59-0059-4A70-BFA8-BB4819E87DE6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filler</string>
				<key>subtext</key>
				<string>Generates Arrested Development Filler Text</string>
				<key>text</key>
				<string>Filler Text (Arrested Development)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>83170C44-1DEF-47B7-9499-1B528B481DEB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fillerh</string>
				<key>subtext</key>
				<string>Generate Arrested Development filler text for headers</string>
				<key>text</key>
				<string>Header Filler Text (Arrested Development)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10F2778F-4967-4AFF-A4AA-848F33B030E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php headers arresteddevelopment {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F3701EB-CD5A-41E7-9246-257EBF812EBC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FFD4AD7E-3A62-4BCA-A2F3-B3B49897B715</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>687C86A6-8006-424C-8181-0A7E0301138B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filler</string>
				<key>subtext</key>
				<string>Generates Doctor Who Filler Text</string>
				<key>text</key>
				<string>Filler Text (Doctor Who)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>01283FCA-41DB-40ED-AD67-697392A548BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php db doctorwho {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7404ABA3-C88B-49CA-A281-1CF4BD953478</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fillerh</string>
				<key>subtext</key>
				<string>Generate Doctor Who filler text for headers</string>
				<key>text</key>
				<string>Header Filler Text (Doctor Who)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3C9C5ECA-108F-4040-B8A9-19AC6034C966</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6E3C9896-E108-4AC6-BDF8-247E209F086C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php headers doctorwho {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7448122C-08FD-4BE6-841B-CEE63BF33F20</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filler</string>
				<key>subtext</key>
				<string>Generates Dexter Filler Text</string>
				<key>text</key>
				<string>Filler Text (Dexter)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D4D8EB01-E3C3-4173-AF2D-52F7E40EF05E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php db dexter {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26C8B155-362F-446F-A14C-32F5F030556A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4C35F078-746C-4507-8049-547D228F31BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E497156C-43B8-49F9-B31A-9F6DBB3F0182</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php headers dexter {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>482588C2-AA56-49DB-AB80-5DC8D7E6446B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fillerh</string>
				<key>subtext</key>
				<string>Generate Dexter filler text for headers</string>
				<key>text</key>
				<string>Header Filler Text (Dexter)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5EDB7929-8481-4CC8-A2BB-ECBE4FD58C73</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filler</string>
				<key>subtext</key>
				<string>Generates Monty Python Filler Text</string>
				<key>text</key>
				<string>Filler Text (Monty Python)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EBDA20BE-EB1F-4397-9988-CF16051C0B73</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>381499F1-4E2F-45E8-A24C-0DBE21958287</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php db holygrail {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A842825D-F6CC-45EA-97E6-70D1476165B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php headers holygrail {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FEABFDC0-0522-4E1D-BF89-E5749A8C43D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>53729D1E-CBFA-4C89-9C3B-DBDC33948E63</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fillerh</string>
				<key>subtext</key>
				<string>Generate Monty Python filler text for headers</string>
				<key>text</key>
				<string>Header Filler Text (Monty Python)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6AA4D739-56CC-49A2-8989-E16E833B7AB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>filler</string>
				<key>subtext</key>
				<string>Generates Lorem Ipsum Filler Text</string>
				<key>text</key>
				<string>Filler Text (Lorem Ipsum)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A522F4F9-02CC-4B89-B782-F1015E3DF043</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php db loremipsum {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>993E2EA0-BD85-4D55-96F5-8D201E604FF0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>12A24009-35C9-4BB1-9254-44975F452504</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php filler.php headers loremipsum {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7DA77BB6-CDF1-4418-A535-394E4B261A20</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fillerh</string>
				<key>subtext</key>
				<string>Generate Lorem Ipsum filler text for headers</string>
				<key>text</key>
				<string>Header Filler Text (Lorem Ipsum)</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D740F055-A2F1-4D6B-A3ED-3A9401E73962</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>52946D7D-4F68-4C80-95A4-37D9802DD2C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01283FCA-41DB-40ED-AD67-697392A548BB</key>
		<dict>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>0B9A9147-9893-4C35-A02D-C88A4648CD91</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>10F2778F-4967-4AFF-A4AA-848F33B030E2</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>12A24009-35C9-4BB1-9254-44975F452504</key>
		<dict>
			<key>ypos</key>
			<real>1650</real>
		</dict>
		<key>1E898736-68E4-4387-8E72-F1774AB880F4</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>1F996A1B-A705-41DE-A304-75EB3309F3D7</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>257633B9-01C0-4DFF-93CD-C2A3FD06F3BE</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>26C8B155-362F-446F-A14C-32F5F030556A</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>33DC9E44-4145-4D6A-975C-6F65E3D8F505</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>381499F1-4E2F-45E8-A24C-0DBE21958287</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>3C9C5ECA-108F-4040-B8A9-19AC6034C966</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>433B8A7C-8FF3-4541-95A0-088DD1C30912</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>482588C2-AA56-49DB-AB80-5DC8D7E6446B</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>4C25B1C0-AAFB-4B74-8E87-69B4BD565FE1</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>4C35F078-746C-4507-8049-547D228F31BE</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>4F3701EB-CD5A-41E7-9246-257EBF812EBC</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>52946D7D-4F68-4C80-95A4-37D9802DD2C6</key>
		<dict>
			<key>ypos</key>
			<real>1770</real>
		</dict>
		<key>53729D1E-CBFA-4C89-9C3B-DBDC33948E63</key>
		<dict>
			<key>ypos</key>
			<real>1530</real>
		</dict>
		<key>5EDB7929-8481-4CC8-A2BB-ECBE4FD58C73</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>62DE03B5-10BC-43CC-AFA1-7B84B89FEBB6</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>687C86A6-8006-424C-8181-0A7E0301138B</key>
		<dict>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>6AA4D739-56CC-49A2-8989-E16E833B7AB0</key>
		<dict>
			<key>ypos</key>
			<real>1530</real>
		</dict>
		<key>6E3C9896-E108-4AC6-BDF8-247E209F086C</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>718BCB2E-E3E7-4492-A0C6-18A5C8D3530C</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>7389E26B-B188-4D64-BFBA-8F2A81D2FA1A</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>7404ABA3-C88B-49CA-A281-1CF4BD953478</key>
		<dict>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>7448122C-08FD-4BE6-841B-CEE63BF33F20</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>7DA77BB6-CDF1-4418-A535-394E4B261A20</key>
		<dict>
			<key>ypos</key>
			<real>1770</real>
		</dict>
		<key>83170C44-1DEF-47B7-9499-1B528B481DEB</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>8B2AAE4B-EA8A-4FF1-B4C0-5E1AA2B89D08</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8DAC514D-CDF0-4527-AB6F-141EE6913D8A</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>905E1C00-FAD1-4ECD-B4F6-E218D1800FAF</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>907DE946-56F1-4D18-B101-094D50B9526C</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>94B14F59-0059-4A70-BFA8-BB4819E87DE6</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>993E2EA0-BD85-4D55-96F5-8D201E604FF0</key>
		<dict>
			<key>ypos</key>
			<real>1650</real>
		</dict>
		<key>A522F4F9-02CC-4B89-B782-F1015E3DF043</key>
		<dict>
			<key>ypos</key>
			<real>1650</real>
		</dict>
		<key>A842825D-F6CC-45EA-97E6-70D1476165B3</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>CC0B1AAF-333C-4451-B9FB-1CE64CF241EC</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>D4D8EB01-E3C3-4173-AF2D-52F7E40EF05E</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>D6AC6B0F-491B-4C93-BD73-A7836B0DD72A</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D740F055-A2F1-4D6B-A3ED-3A9401E73962</key>
		<dict>
			<key>ypos</key>
			<real>1770</real>
		</dict>
		<key>E22E1E71-BBD6-44AB-877E-7594B7C5E889</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>E497156C-43B8-49F9-B31A-9F6DBB3F0182</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>EBDA20BE-EB1F-4397-9988-CF16051C0B73</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>EFBF684E-3158-4B28-B623-50BF74776B48</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F8EA4E57-9EDD-4F12-9271-1A349C2E5292</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FEABFDC0-0522-4E1D-BF89-E5749A8C43D9</key>
		<dict>
			<key>ypos</key>
			<real>1530</real>
		</dict>
		<key>FFD4AD7E-3A62-4BCA-A2F3-B3B49897B715</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://florian.ec</string>
</dict>
</plist>
